@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');
*{
    font-family: 'Nunito', sans-serif;
    
}


.swiper-button-prev {
    display: none;
    color: rgba(0, 0, 0, 0.212);
}

.swiperHeader .swiper-button-next{
    display: none;
    color: rgba(0, 0, 0, 0.212);
}

.swiperHeader .swiper-pagination-bullet{
    opacity: 0.5;
    background-color: #fff;
}

.swiperHeader .swiper-pagination-bullet-active{
    opacity: 1;
    background-color: #fff;
}

.swiperCards .swiper-button-next::after{
    color: white;
    /* font-family: Roboto;
    content: '✨' */
}

.swiperCards .swiper-wrapper{
    padding: 3.2vh 0;
}

.cardSwiper{
    width: 24vh;
    transition: all 0.2s;
}

.cardSwiper:hover{
    transition: all 0.2s;

    transform: scale(1.2);
    margin-left: 3vh;
    margin-right: 4vh !important;
}