@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');


*{
    font-family: 'Nunito', sans-serif;
}

#root {
    overflow-x: hidden;
    position: relative;
    background-color: #090513;
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: auto;
    color: #494257;
}

@font-face {
    font-family: Asap;
    src: url('../fonts/Asap-Bold.ttf');
    font-weight: bold;
}


/* .swiper-button-prev {
    display: none;
    color: rgba(0, 0, 0, 0.212);
} */

.swiperHeader .swiper-button-prev {
    display: none;
    color: rgba(0, 0, 0, 0.212);
}

.swiperHeader .swiper-button-next{
    display: none;
    color: rgba(0, 0, 0, 0.212);
}

.swiperHeader .swiper-pagination-bullet{
    opacity: 0.5;
    background-color: #fff;
}

.swiperHeader .swiper-pagination-bullet-active{
    opacity: 1;
    background-color: #fff;
}

.swiperCards .swiper-button-prev::after{
    color: white;
}

.swiperCards .swiper-button-next::after{
    color: white;
}

.swiperCards .swiper-wrapper{
    padding: 1vh 0;
    /* padding: 3.2vh 0; */
}

.cardSwiper{
    width: min(50vw, 25vh);
    height: 38vh;
    cursor: pointer;
    transition: all 0.2s;
}

.swiperGenres .swiper-button-prev::after{
    color: white;
}

.swiperGenres .swiper-button-next::after{
    color: white;
}

.swiperGenres .swiper-wrapper{
    padding: 1vh 0;
}

.genreSwiper{
    width: min(50vw, 25vh);
    height: 15vh;
    cursor: pointer;
    transition: all 0.2s;
}



.cardSwiper:hover #card{
    box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 0.76);  
}

.Modal{
    position: absolute;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .8em;
    border: none;
    background-color: #1c1733;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 50vh;
}

.Modal-Overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: rgb(0,0,0,.6);
}

@media screen and (min-width: 768px){
    .cardSwiper:hover{
        transform: scale(1.02);
        margin-left: 3vh;
        margin-right: 4vh !important;
    }
}

@media screen and (min-width: 1024px){
    .Modal{
        width: 50vw;
        height: 65vh;
    }

    .swiperCards .swiper-button-prev::after{
        padding: 10vh 2vh;
        opacity: 0;
        transition: opacity .2s linear;
    }
    
    .swiperCards .swiper-button-prev:hover:after{
        transition: opacity .2s linear;
        opacity: 1;
    }

    .swiperCards .swiper-button-next::after{
        padding: 10vh 2vh;
        opacity: 0;
        transition: opacity .2s linear;
    }
    
    .swiperCards .swiper-button-next:hover:after{
        transition: opacity .2s linear;
        opacity: 1;
    }
}


.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}


#fetchMoreButton {
    animation-name: fetchMore;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
}

#fetchMoreButton:hover{
    transform: none;
}

@keyframes fetchMore {
    0% {transform: translateY(0)}
    25% {transform: translateY(.5vh)}
    35% {transform: translateY(1vh)}
    45% {transform: translateY(1.5vh)}
    55% {transform: translateY(1vh)}
    75% {transform: translateY(.5vh)}
    100% {transform: translateY(0)}
}
