/* COLOR VARIABLES */
:root{
    --white: #F8F7F7;
    --dark-grey: #1D1D1D;
    --orange: #FF6C2F;
}

@font-face{
    font-family: "Avenir Black";
    src: local('Avenir Black'), url(../fonts/AvenirBlack.ttf) format('truetype');
}

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue'), url(../fonts/HelveticaRoman.otf) format('opentype');
}

@font-face {
    font-family: 'Helvetica Neue';
    font-weight: 400;
    src: local('Helvetica Neue'), url(../fonts/HelveticaLight.otf) format('opentype');
}
  
@font-face {
    font-family: 'Lato';
    font-weight: 900;
    src: local('Lato'), url(../fonts/HelveticaBold.otf) format('opentype');
}

@font-face {
    font-family: 'Lato';
    font-weight: 900;
    font-stretch: expanded;
    src: local('Lato'), url(../fonts/HelveticaBoldExt.otf) format('opentype');
}


*{    
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html, body, #root{
    width: 100%;
    height: 100%;
}

html{
    font-size: 20px;
    font-family: "Helvetica Neue";
}

body{
    position: relative;
}

.navbar{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    position: relative;
    background-color: var(--orange);
}

.navbar .links{
    list-style-type: none;
}

.navbar .links .link{
    display: inline;
    text-decoration: none;
}

.navbar .links .link:not(:first-of-type){
    margin-left: 2.3rem;
}

.navbar .copyright{
    display: none;
}

.mainContent{
    background-color: var(--dark-grey);

    min-height: 100%;
}

@media screen and (max-width: 768px){
    .navbar-mobile{
        height: 100vh;

        flex-direction: column;
        justify-content: initial;
    }

    .navbar .top-navbar{
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar .links .link{
        display: block;
        text-align: center;
    }
    
    .navbar .links .link:not(:first-of-type){
        margin-left: 0;
        margin-top: 2rem;
    }

    .navbar .copyright{
        display: block;
        text-align: center;
    }
}